@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-12">
        <h3>You have been logged in</h3>
    </div>
    <div class="col-md-4">
        <ul>
            <li>Admin Role = @ViewBag.IsAdmin</li>
            <li>IT Role = @ViewBag.IsIT</li>
            <li>User Role = @ViewBag.IsUser</li>
        </ul>
    </div>
</div>
<div class="col-md-12">
    @Html.ActionLink("Logout", "Logout")
</div>