@{
    ViewBag.Title = "Unauthorized";
}

<div class="row">
    <div class="col-md-12">
        <h2 class="text-center">You have no rights to enter this page.</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        @Html.ActionLink("Logout", "Logout");
    </div>
</div>